<a href="https://colab.research.google.com/github/jamieprince/jamieprince.github.io/blob/main/Wikipedia_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests, pandas as pd

In [2]:
tables=pd.read_html('https://en.wikipedia.org/wiki/The_World%27s_Billionaires')

In [3]:
tables[37]

                                Year  ...        Group's combined net worth
0                            2021[2]  ...                    $13.1 trillion
1                               2020  ...                     $8.0 trillion
2                               2019  ...                     $8.7 trillion
3                               2018  ...                     $9.1 trillion
4                               2017  ...                     $7.7 trillion
5                               2016  ...                     $6.5 trillion
6                           2015[15]  ...                     $7.1 trillion
7                           2014[61]  ...                     $6.4 trillion
8                           2013[62]  ...                     $5.4 trillion
9                               2012  ...                     $4.6 trillion
10                              2011  ...                     $4.5 trillion
11                              2010  ...                     $3.6 trillion
12                              2009  ...                     $2.4 trillion
13                              2008  ...                     $4.4 trillion
14                              2007  ...                     $3.5 trillion
15                              2006  ...                     $2.6 trillion
16                              2005  ...                     $2.2 trillion
17                              2004  ...                     $1.9 trillion
18                              2003  ...                     $1.4 trillion
19                              2002  ...                     $1.5 trillion
20                              2001  ...                     $1.8 trillion
21                              2000  ...                               NaN
22  Sources: Forbes.[15][61][60][62]  ...  Sources: Forbes.[15][61][60][62]

[23 rows x 3 columns]

In [4]:
df=tables[37]

In [6]:
df.columns=['Year','Number of Billionaires','Total Net Worth (Trillion)']

In [7]:
df['Total Net Worth (Trillion)']=df['Total Net Worth (Trillion)'].str.replace('$','').str.replace('trillion','')

In [8]:
df

                                Year  ...        Total Net Worth (Trillion)
0                            2021[2]  ...                             13.1
1                               2020  ...                              8.0
2                               2019  ...                              8.7
3                               2018  ...                              9.1
4                               2017  ...                              7.7
5                               2016  ...                              6.5
6                           2015[15]  ...                              7.1
7                           2014[61]  ...                              6.4
8                           2013[62]  ...                              5.4
9                               2012  ...                              4.6
10                              2011  ...                              4.5
11                              2010  ...                              3.6
12                              2009  ...                              2.4
13                              2008  ...                              4.4
14                              2007  ...                              3.5
15                              2006  ...                              2.6
16                              2005  ...                              2.2
17                              2004  ...                              1.9
18                              2003  ...                              1.4
19                              2002  ...                              1.5
20                              2001  ...                              1.8
21                              2000  ...                               NaN
22  Sources: Forbes.[15][61][60][62]  ...  Sources: Forbes.[15][61][60][62]

[23 rows x 3 columns]

In [ ]:
df.to_csv('no_billionaires_per_year.csv')